/* Profile Component styling */

.editImg{
    width: 80px;
    height: 80px;
    position: relative;
    margin: 20px auto 10px;
}
.editImg img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.editImg .camera{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    border: solid 0.5px #dadce0;;
    border-radius: 50%;
    box-sizing: border-box;
}
.editImg .camera img{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    padding: 6px;
    /* width: 100%; */
}

.fullname, .email{

    /* font-size: 14px; */
    color: #202124;
    font: 500 16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    letter-spacing: 0.29px;
    text-align: center;
}
.email{  
    margin: 0;
    color: #5f6368;
    font: 400 14px/19px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;    
    text-overflow: ellipsis;
    overflow: hidden;
}
.ManageAcc{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #3c4043;
    display: inline-block;
    font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: 0.25px;
    margin: 16px 0 20px;
    max-width: 254px;
    outline: 0;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}
.Addmail{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #3c4043;
    border: 1px solid rgba(0,0,0,.2);
    border-left: none;
    display: table;
    font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: 0.25px;
    outline: 0;
    padding: 14px 41px;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.Addmail img{
    width: 20px;
    height: 20px;
}
.addText{
    display: inline;
    color: #3c4043;
    font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: 0.25px;
    padding-left: 14px;
}
.signout button{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .15px;
    margin: 16px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
}
.terms{
    border-top: 1px solid rgba(0,0,0,.2);
    padding: 14px 0;
    margin: 0;
}
 /* font-size: 14px; */