*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
 
  
  .navItem a{
    
        font-family: arial,sans-serif;
        line-height: normal;
        font-size: 14px;
        display: inline-block;
       vertical-align: middle;
        color: rgba(0,0,0,0.87);
        text-decoration: none;
  }
  .navItem a:hover {
    /* color: -webkit-link; */
    cursor: pointer;
    text-decoration: underline;
    align-items: center;

}

  .menu2{
      margin-right: 20px;
      padding: 4px;
      vertical-align: middle;
  }
  .menu{
    color: #5f6368;
    opacity: 1;
}
  .logo_ava{
      /* fore: url(../src/images/avatar.jpg); */
      height: 32px;
      width: 32px;
      background-size: 32px 32px;
      border-radius: 50%;

  }
  nav{
    background-color:transparent;
   
    height: 60px;
    width: 100%;
    padding-top: 10px;
    
    
  }

 
  nav ul{
    float: right;
    margin-right: 10px;
  }
  nav ul li{
    display: inline-block;
    text-align: center;
  }
  nav ul li a{
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
  }



  /* SideHustle Logo */
  .side1{
      height: 92px;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      display: flex;
      align-items: center;

  }
  /* .side2 .img{
    height: 60px;

  } */
  /* .voicebox{
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 20px;
    max-height: 160px;
   
  } */

  /* .voicebox .dialog1{
      background: transparent;
      border: none;
      height: fit-content;
      width: fit-content;
      position:absolute;
      left: 0;
      right: 0;
  } */

  /* SearchBox */ 

.top{
  padding:20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: block;
}

.formwrap {
    display: block;
    margin-top: 0em;
}
 
.wrap{
  display: block;
}

.searchItem{
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  height: 140px;
  max-width: 584px;
  display: block;
}

.searchInside{
  background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchText{
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}
.searchIcon{
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.lelaS{
  margin:auto;
  display: block;
}
.searchSpan{
  margin-top: 3px;
      color: #9aa0a6;
      height: 20px;
      width: 20px;
      display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;

}
.lelaS svg{
  display: block;
    height: 100%;
    width: 100%;
}

.inputMain{
  display: flex;
  flex: 1;
  width: 487px;
  height: 37px;
  flex-wrap: wrap;
}
.inputBlock{
  color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    display: block;
}

.inputText{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  width: 487px;
  text-rendering: auto;
  text-align: start;
  appearance: auto;
  /* -webkit-rtl-ordering: logical; */
    cursor: text;
    /* -webkit-writing-mode: horizontal-tb !important; */
}
 
.voice{
  display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}
.lelaVoice{
  flex: 1 0 auto;
    display: none;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding-right: 4px;
    padding: 0 8px;
    line-height: 44px;
}

.voiceSpan{
  margin-right: 12px;
  height: 100%;
  color: #70757a;
  vertical-align: middle;
  outline: none;
  display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.voiceSpan svg {
  display: block;
  height: 100%;
  width: 100%;
}
.lelaVoiceSpan{
  border-left: 1px solid #dfe1e5;
      height: 65%;
}

.voiceIcon {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 32px;
  /* height: 24px; */
  /* padding-right: 4px; */
  line-height: 44px;
} 
 
.svgVoice {
  height: 24px;
  width: 24px;
  vertical-align: middle;
} 

.searchTerm {
  width: 100%;
  border: 3px solid gray;
  border-right: none;
  padding: 5px;
  border: none;
  height: 37px;
  border-radius: 5px 0 0 5px; 
  outline: none;
   color: #9DBFAF;
 } 


 .googleS{
  height: 70px;
  padding-top: 18px;
  top: 53px;
  z-index: 0;
  display: block;
 }

 center {
  /* display: block; */
  width: 584px;
  height: 58px;
  display: flex;

  text-align: -webkit-center;
}

.googleS input[type="submit"]{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  white-space: pre;
    align-items: flex-start;
    appearance: auto;
    box-sizing: border-box;

  user-select: none;
}

.googleInput{
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 11px;
  margin-top: 11px;
  padding:0px 16px;
  border: 1px;
}

.googleS{
  width: 100%;
}

.btn-group{
  width: 100%;
}
.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%;
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}